<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">

<title>家計簿アプリ - 新規登録ページ - </title>
</head>

<body>

<div class="container text-center w-80" style="margin-top:150px">
 <div class="container mt-3">
 <div class="border rounded" style="padding:50px;">
 


<h3 style="padding:40px">新規登録</h3>



<form th:action="@{/create}" th:object="${user}" method="post">
	<div class="form-group row">
		<label for="name" class="col-2 col-form-label">名前</label>
		<div class="col-4">
			<input type="text" th:field="*{name}" class="form-control">
		</div>
		<div class="col-6">
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-muted"></span>
		</div>
	</div>
	<div class="form-group row">
		<label for="password" class="col-2 col-form-label">パスワード</label>
		<div class="col-4">
			<input type="password" th:field="*{password}" class="form-control">
		</div>
		<div class="col-6">
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-text text-muted"></span>
		</div>
	</div>
	
			<div class="d-grid gap-2">
			<input type="submit" class="btn btn-secondary w-75" style="margin-top:50px" value="登録">
		</div> 
</form>

<a href="/create" style="padding:40px">
	ログイン画面へ戻る
	</a>

</div>
</div>
</div>

</body>
</html>