<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<title>家計簿アプリ</title>
</head>
<body>
	<div layout:fragment="contents">



		<div class="row mb-3">
			<div class="col">
				<form th:action="@{/}" class="form-inline" method="post">
					<label class="mr-3"> 年を記入してください
					<input type="text"
						name="year" th:value="${param.year}" class="form-control">
					</label> 
					
					<label class="mr-3"> 月を選択してください <select name="month"
						class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
					</select>
					</label> <input type="submit" value="検索" class="btn btn-primary mr-1">
				</form>
			</div>
		</div>
		<span th:text="${year}"></span>年<span th:text="${month}"></span>月の
		月間収入は<span th:text="${sumIncome}">合計</span>円です。
		月間支出は<span th:text="${sumOutcome}">合計</span>円です。

	<div class="row">
			<div class="col">
			収入の表
				<table class="table">
					<thead>
						<tr>
							<th>年</th>
							<th>月</th>
							<th>日</th>
							<th>ジャンル</th>
							<th>金額</th>
							<th>詳細</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="summary : ${tableIncome}" th:object="${summary}" >
							<td th:text="*{year}"></td>
							<td th:text="*{month}"></td>
							<td th:text="*{day}"></td>
							<td th:text="*{genre}"></td>
							<td th:text="*{money}"></td>
							<td><a th:href="@{|/*{id}/edit|}">表示</a></td>
						</tr>
					</tbody>
				</table>
				<br>
				<br>
				<br>
				<br>
				
				支出の表
				<table class="table">
					<thead>
						<tr>
							<th>年</th>
							<th>月</th>
							<th>日</th>
							<th>ジャンル</th>
							<th>金額</th>
							<th>詳細</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="summary : ${tableOutcome}" th:object="${summary}" >
							<td th:text="*{year}"></td>
							<td th:text="*{month}"></td>
							<td th:text="*{day}"></td>
							<td th:text="*{genre}"></td>
							<td th:text="*{money}"></td>
							<td><a th:href="@{|/*{id}/edit|}">表示</a></td>
						</tr>
					</tbody>
				</table>
		

			
			</div>
		</div>   

	</div>
</body>
</html>
